.site{
background-color:#eab676;
margin:0px auto;
}
.head{
padding:30px 0 30px;
font-size:40px;
text-align:center;
color:#244975;
}

p{
font-size:40px;
}

.login{
width:800px;
height:800px;
border:2px solid red;
margin:0 auto;
text-align:center;
background-color:#8ea1bf;
}
.username{
padding:10% 0 0;
}
.password{
padding:10% 0 0;
}
.button{
padding:10% 0 0;
}
input[type=text]:focus{
background-color:yellow;
font-weight:bold;
}
input[type=password]:focus{
background-color:yellow;
font-weight:bold;
}
input[type=submit]:focus{
background-color:yellow;
font-weight:bold;
}
input[type=text]{
font-size:50px;
text-align:center
}

input[type=password]{
font-size:50px;
text-align:center;
}

input[type=submit]{
font-size:50px;
text-align:center;
background-color:blue;
color:yellow;
}

#register {
text-decoration:none;
padding:20% 0 0;
font-size: 50px;
}
a{
text-decoration:none;
}

.error p{
text-align:center;
font-size:50px;
color:red;
}
